{{- $currentPage := . -}}
{{- $navcollapse := default "md" ($.Param "nav.collapse") -}}
{{- $navbgactive := default "bg-red-500" ($.Param "nav.bgactive") -}}
{{- $navtextactive := default "text-white" ($.Param "nav.textactive") -}}
{{- $navbghover := default "bg-black" ($.Param "nav.bghover") -}}
{{- $navtexthover := default "text-white" ($.Param "nav.texthover") -}}
{{- $navbg := default "bg-gray-200" ($.Param "nav.bg") -}}
{{- $navtext := default "text-white" ($.Param "nav.text") -}}
{{- $navdivide := default "divide-gray-500" ($.Param "nav.divide") -}}
<div x-data="nav">
    <div class="{{ $navbg }} {{ $navcollapse }}:hidden p-2 text-right">
        <svg x-html="icon" @click="toggle" class="inline" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16" x-transition></svg>
    </div>
    <div class="{{ $navcollapse }}:flex flex-row h-10 {{ $navbg }} divide-x {{ $navdivide }} divide-opacity-25 hidden">
        {{- range .Site.Menus.main -}}
        <a class="h-full p-2 inline-block{{ if $currentPage.IsMenuCurrent "main" . }} {{ $navbgactive }} {{ $navtextactive }}{{ else }} {{ $navbg }}{{ end }} hover:{{ $navbghover }} hover:{{ $navtexthover }} text-right" href="{{ .URL }}">{{ .Title }}</a>
        {{- end -}}
    </div>
    <div class="flex flex-col {{ $navbg }} divide-y {{ $navdivide }} divide-opacity-25 {{ $navcollapse }}:hidden" x-show="open" @click.outside="close" x-transition x-cloak>
        {{- range .Site.Menus.main -}}
        <a class="h-full w-full p-2 inline-block{{ if $currentPage.IsMenuCurrent "main" . }} {{ $navbgactive }} {{ $navtextactive }}{{ else }} {{ $navbg }}{{ end }} hover:{{ $navbghover }} hover:{{ $navtexthover }} text-right" href="{{ .URL }}">{{ .Title }}</a>
        {{- end -}}
    </div>
</div>
