{{- $currentPage := . -}}
{{- $navcollapse := default "md" ($.Param "nav.collapse") -}}
<div x-data="nav">
    <div class="bg-gray-300 {{ $navcollapse }}:hidden p-2 text-right">
        <svg @click="toggle" class="inline" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>
    <div class="{{ $navcollapse }}:flex flex-row h-10 bg-gray-200 divide-x divide-gray-500 divide-opacity-25 hidden">
        {{- range .Site.Menus.main -}}
        <div class="h-full p-2 inline-block{{ if $currentPage.IsMenuCurrent "main" . }} bg-red-500 text-white{{ else }} bg-gray-200{{ end }} hover:bg-black hover:text-white text-right"><a class="h-full w-full" href="{{ .URL }}">{{ .Title }}</a></div>
        {{- end -}}
    </div>
    <div class="flex flex-col bg-gray-200 divide-y divide-gray-500 divide-opacity-25 {{ $navcollapse }}:hidden" x-show="open" @click.outside="open = false" x-transition x-cloak>
        {{- range .Site.Menus.main -}}
        <div class="w-full p-2 inline-block{{ if $currentPage.IsMenuCurrent "main" . }} bg-red-500 text-white{{ else }} bg-gray-100{{ end }} hover:bg-black hover:text-white text-right"><a class="h-full w-full" href="{{ .URL }}">{{ .Title }}</a></div>
        {{- end -}}
    </div>
</div>
