{{ with .Site.Params.directory }}
    {{ $scratch := newScratch }}
    {{ if hasPrefix .logo "http" }}
        {{ $scratch.Set "logo" (resources.GetRemote .logo) }}
    {{ else }}
        {{ $scratch.Set "logo" (resources.Get .logo) }}
    {{ end }}
    {{ $logo := $scratch.Get "logo" }}
    <picture>
        {{ with .logosvg }}
            {{ if hasPrefix . "http" }}
                {{ $scratch.Set "logosvg" (resources.GetRemote .) }}
            {{ else }}
                {{ $scratch.Set "logosvg" (resources.Get .) }}
            {{ end }}
            {{ $logosvg := $scratch.Get "logosvg" }}
        <source srcset="{{ $logosvg.RelPermalink }}" type="image/svg+xml">
        {{ end }}
        {{ with .logosvgalt }}
            {{ if hasPrefix . "http" }}
                {{ $scratch.Set "logosvgalt" (resources.GetRemote .) }}
            {{ else }}
                {{ $scratch.Set "logosvgalt" (resources.Get .) }}
            {{ end }}
            {{ $logosvgalt := $scratch.Get "logosvgalt" }}
        <source srcset="{{ $logosvgalt.RelPermalink }}" media="(prefers-color-scheme: dark)" type="image/svg+xml">
        {{ end }}
        {{ with .logoalt }}
            {{ if hasPrefix . "http" }}
                {{ $scratch.Set "logoalt" (resources.GetRemote .) }}
            {{ else }}
                {{ $scratch.Set "logoalt" (resources.Get .) }}
            {{ end }}
            {{ $logoalt := $scratch.Get "logoalt" }}
        <source srcset="{{ $logoalt.RelPermalink }}" media="(prefers-color-scheme: dark)">
        {{ end }}
        <img class="inline" src="{{ $logo.RelPermalink }}" width="200">
    </picture>
{{ end }}