{{- $basecolor := default "teal" site.Params.components.color -}}
<label
    {{- with .id }} for="{{ . | safeHTMLAttr }}"{{ end -}}
    {{- with index . "x-show" }} x-show="{{ . }}"{{ end -}}
    {{- with index . "x-cloak" }} x-cloak{{ end -}}
>
    <span
        class="text-sm font-medium text-gray-700"
        {{- with index . "x-text" }} x-text="{{ . | safeHTMLAttr }}"{{ end -}}
    >
        {{- .label -}}
    </span>
    <input
        class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm peer user-invalid:ring-red-500 out-of-range:ring-red-500 user-valid:ring-{{ $basecolor }}-600"
        {{- with .type }} type="{{ . }}"
        {{-   if eq . "number" -}}
        {{-     with $.min -}} min="{{ . }}"{{ end -}}
        {{-     with $.max -}} max="{{ . }}"{{ end -}}
        {{-     with $.step -}} step="{{ . }}"{{ end -}}
        {{-   end -}}
        {{- end -}}
        {{- with .id }} id="{{ . | safeHTMLAttr }}"{{ end -}}
        {{- with index . "x-model" }} x-model.fill="{{ . | safeHTMLAttr  }}"{{ end -}}
        {{- with index . ":value" }} :value="{{ . | safeHTMLAttr }}"{{ end -}}
        {{- with .required }} required{{ end -}}
    >
    {{- with .invalid -}}
    <span class="hidden peer-user-invalid:block peer-out-of-range:block text-red-500 text-sm italic">{{ . }}</span>
    {{- end -}}
</label>
