{{- $opts := dict "label" (.Get "label") -}}
{{- /* standard options */ -}}
{{- with (.Get "id") }}{{ $opts = merge $opts (dict "id" .) }}{{ end -}}
{{- with (.Get "type") }}{{ $opts = merge $opts (dict "type" .) }}{{ end -}}
{{- with (.Get "min") }}{{ $opts = merge $opts (dict "min" .) }}{{ end -}}
{{- with (.Get "max") }}{{ $opts = merge $opts (dict "max" .) }}{{ end -}}
{{- with (.Get "step") }}{{ $opts = merge $opts (dict "step" .) }}{{ end -}}
{{- with (.Get "required") }}{{ $opts = merge $opts (dict "required" .) }}{{ end -}}
{{- /* alpinejs options */ -}}
{{- with (.Get "x-show") }}{{ $opts = merge $opts (dict "x-show" .) }}{{ end -}}
{{- with (.Get "x-model") }}{{ $opts = merge $opts (dict "x-model" .) }}{{ end -}}
{{- with (.Get "x-cloak") }}{{ $opts = merge $opts (dict "x-cloak" .) }}{{ end -}}
{{- with (.Get ":value") }}{{ $opts = merge $opts (dict ":value" .) }}{{ end -}}
{{- /* extra options */ -}}
{{- with (.Get "invalid") }}{{ $opts = merge $opts (dict "invalid" .) }}{{ end -}}
{{- partial "components/input" $opts -}}
