{{- $basecolor := default "teal" site.Params.components.color -}}
{{- $attrList := slice "href" "x-show" "@click" "x-text" -}}
{{- $attrs := dict -}}
{{- range $attr, $value := . -}}
{{-   if collections.In $attrList $attr -}}
{{-     $attrs = merge $attrs (dict $attr $value) -}}
{{-    end -}}
{{- end -}}
{{- $classes := slice "not-prose" "cursor-pointer" "inline-block" "rounded-sm" "border" "px-12" "py-3" "text-sm" "font-medium" "focus:ring-3" "focus:outline-hidden" (printf "border-%s-600" $basecolor) -}}
{{- if .alt -}}
{{-   $classes = collections.Append $classes (slice  (printf "text-%s-600" $basecolor) (printf "hover:bg-%s-600" $basecolor) "hover:text-white") -}}
{{- else -}}
{{-   $classes = collections.Append $classes (slice "text-white" (printf "bg-%s-600" $basecolor) "hover:bg-transparent" (printf "hover:text-%s-600" $basecolor)) -}}
{{- end -}}
<a class="{{ collections.Delimit $classes " " }}"{{ range $attr, $value := $attrs }} {{ printf "%s=%q" $attr $value | safeHTMLAttr }}{{ end }}{{ if isset . "x-cloak" }} x-cloak{{ end }}>{{ .text }}</a>
