{{- $imgname := .img }}
{{- $img := resources.Get .img }}
{{- $trysvg := .trysvg }}
{{- $autowh := .autowh }}
{{- $norotate := .norotate }}
{{- $rotation := "" }}
{{- $orientation := 1 }}
{{- $versions := slice }}
{{- with .versions }}
    {{- $versions = split . "," }}
{{- end }}
{{- with $img }}
    {{- if not $norotate }}
        {{- with $img.Exif }}
            {{- $orientation = .Tags.Orientation }}
            {{- if eq $orientation 3 }}
                {{- $rotation = "r180" }}     
            {{- else if eq $orientation 6 }}
                {{- $rotation = "r270" }}
            {{- else if eq $orientation 8 }}
                {{- $rotation = "r90" }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- $imgdark := false }}
    {{- if $.imgdark }}
        {{- $imgdark = resources.Get $.imgdark }}
    {{- end }}
    {{- $scratch := newScratch }}
    {{- if (and $.width $.height) }}
        {{- $width := $.width }}
        {{- $height := $.height }}
        {{- $scratch.Set "resize" (printf "%dx%d %s" $width $height $rotation) }}
        {{- if $.versions }}
            {{- range $version := $versions }}
                {{- $scratch.Set (printf "resize%sx" $version) (printf "%0.0fx%0.0f %s" (mul $width (float $version)) (mul $height (float $version)) $rotation) }}
            {{- end }}
        {{- end }}
    {{- else if $.width }}
        {{- $width := $.width }}
        {{- $scratch.Set "resize" (printf "%dx %s" $width $rotation) }}
        {{- if $.versions }}
            {{- range $version := $versions }}
                {{- $scratch.Set (printf "resize%sx" $version) (printf "%0.0fx %s" (mul $width (float $version)) $rotation) }}
            {{- end }}
        {{- end }}
    {{- else if $.height }}
        {{- $height := $.height }}
        {{- $scratch.Set "resize" (printf "x%d" $height) }}
        {{- if $.versions }}
            {{- range $version := $versions }}
                {{- $scratch.Set (printf "resize%sx" $version) (printf "x%0.0f%s" (mul $height (float $version)) $rotation) }}
            {{- end }}
        {{- end }}
    {{- else }}
        {{- $scratch.Set "resize" (printf "%dx%d%s" .Width .Height $rotation) }}
    {{- end }}
    <picture>
    {{- if (and $imgdark (ne $imgdark.MediaType "image/webp")) }}
        {{- $opts := "" }}
        {{- if $.anchor }}
            {{- $opts = printf "%s %s" $opts $.anchor }}
        {{- end }}
        {{- if $.fit }}
        <source srcset="{{ ($imgdark.Fit ($scratch.Get "resize")).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($imgdark.Fit (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" media="(prefers-color-scheme:dark)" type="{{ $imgdark.MediaType }}">
        {{- else if $.fill }}
        <source srcset="{{ ($imgdark.Fill (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($imgdark.Fill (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" media="(prefers-color-scheme:dark)" type="{{ $imgdark.MediaType }}">
        {{- else if .crop }}
        <source srcset="{{ ($imgdark.Crop (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($imgdark.Crop (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" media="(prefers-color-scheme:dark)" type="{{ $imgdark.MediaType }}">
        {{- else }}
        <source srcset="{{ ($imgdark.Resize ($scratch.Get "resize")).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($imgdark.Resize (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" media="(prefers-color-scheme:dark)" type="{{ $imgdark.MediaType }}">
        {{- end }}
    {{- end }}
    {{- if (and (not $.disablewebp) hugo.IsExtended) }}
        {{- $opts := "webp" }}
        {{- if $.anchor }}
            {{- $opts = printf "%s %s" $opts $.anchor }}
        {{- end }}
        {{- if $.fit }}
        <source srcset="{{ ($img.Fit (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($img.Fit (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" type="image/webp">
            {{- if $imgdark }}
        <source srcset="{{ ($imgdark.Fit (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($imgdark.Fit (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" media="(prefers-color-scheme:dark)" type="image/webp">
            {{- end }}
        {{- else if $.fill }}
        <source srcset="{{ ($img.Fill (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($img.Fill (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" type="image/webp">
            {{- if $imgdark }}
        <source srcset="{{ ($imgdark.Fill (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($imgdark.Fill (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" media="(prefers-color-scheme:dark)" type="image/webp">
            {{- end }}
        {{- else if $.crop }}
        <source srcset="{{ ($img.Crop (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($img.Crop (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" type="image/webp">
            {{- if $imgdark }}
        <source srcset="{{ ($imgdark.Crop (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($imgdark.Crop (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" media="(prefers-color-scheme:dark)" type="image/webp">
            {{- end }}
        {{- else }}
        <source srcset="{{ ($img.Resize (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($img.Resize (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" type="image/webp">
            {{- if $imgdark }}
        <source srcset="{{ ($imgdark.Resize (printf "%s %s" ($scratch.Get "resize") $opts)).RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($imgdark.Resize (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}" media="(prefers-color-scheme:dark)" type="image/webp">
            {{- end }}
        {{- end }}
    {{- end }}
    {{- with $.svg }}
        {{- $svg := resources.Get . }}
        {{- if hugo.IsProduction }}
            {{- $svg = $svg | minify | fingerprint }}
        {{- end }}
        <source srcset="{{ $svg.RelPermalink }}" type="image/svg+xml">
    {{- else }}
        {{- if $trysvg }}
            {{- $path := path.Dir $img }}
            {{- $name := path.BaseName $img }}
            {{- $svgpath := printf "%s.svg" (path.Join $path $name) }}
            {{- if fileExists (path.Join "/assets" $svgpath) }}
                {{- $svg := resources.Get $svgpath }}
                {{- if hugo.IsProduction }}
                    {{- $svg = $svg | minify | fingerprint }}
                {{- end }}
                <source srcset="{{ $svg.RelPermalink }}" type="image/svg+xml">
            {{- else }}
                {{- warnf "Try SVG was set but no SVG found for %s" $svgpath }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- with $.svgdark }}
        {{- $svg := resources.Get . }}
        {{- if hugo.IsProduction }}
            {{- $svg = $svg | minify | fingerprint }}
        {{- end }}
        <source srcset="{{ $svg.RelPermalink }}" media="(prefers-color-scheme:dark)" type="image/svg+xml">
    {{- else }}
        {{- if and $trysvg $imgdark }}
            {{- $path := path.Dir $imgdark }}
            {{- $name := path.BaseName $imgdark }}
            {{- $svgpath := printf "%s.svg" (path.Join $path $name) }}
            {{- if fileExists (path.Join "/assets" $svgpath) }}
                {{- $svg := resources.Get $svgpath }}
                {{- if hugo.IsProduction }}
                    {{- $svg = $svg | minify | fingerprint }}
                {{- end }}
                <source srcset="{{ $svg.RelPermalink }}" media="(prefers-color-scheme:dark)" type="image/svg+xml">
            {{- else }}
                {{- warnf "Try SVG was set and a dark mode image provided but no dark mode SVG found for %s" $svgpath }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{- $opts := "" }}
    {{- if $.anchor }}
        {{- $opts = printf "%s %s" $opts $.anchor }}
    {{- end }}
    {{- if $.fit }}
        {{- $src := $img.Fit (printf "%s" ($scratch.Get "resize")) }}
        <img {{ with $.class }}class="{{ . }}" {{ end }}alt="{{ default "" $.alt }}" {{ with $.title }}title="{{ . }}" {{ end }} src="{{ $src.RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($img.Fit (printf "%s" ($scratch.Get (printf "resize%sx" $version)))).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}"{{ if $.lazy }} loading="lazy"{{ end }}{{ if $autowh }} width="{{ $src.Width }}" height="{{ $src.Height }}"{{ end }}>
    {{- else if $.fill }}
        {{- $src := $img.Fill (printf "%s %s" ($scratch.Get "resize") $opts) }}
        <img {{ with $.class }}class="{{ . }}" {{ end }}alt="{{ default "" $.alt }}" {{ with $.title }}title="{{ . }}" {{ end }} src="{{ $src.RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($img.Fill (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}"{{ if $.lazy }} loading="lazy"{{ end }}{{ if $autowh }} width="{{ $src.Width }}" height="{{ $src.Height }}"{{ end }}>
    {{- else if $.crop }}
        {{- $src := $img.Crop (printf "%s %s" ($scratch.Get "resize") $opts) }}
        <img {{ with $.class }}class="{{ . }}" {{ end }}alt="{{ default "" $.alt }}" {{ with $.title }}title="{{ . }}" {{ end }} src="{{ $src.RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($img.Crop (printf "%s %s" ($scratch.Get (printf "resize%sx" $version)) $opts)).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}"{{ if $.lazy }} loading="lazy"{{ end }}{{ if $autowh }} width="{{ $src.Width }}" height="{{ $src.Height }}"{{ end }}>
    {{- else }}
        {{- $src := $img.Resize (printf "%s" ($scratch.Get "resize")) }}
        <img {{ with $.class }}class="{{ . }}" {{ end }}alt="{{ default "" $.alt }}" {{ with $.title }}title="{{ . }}" {{ end }} src="{{ $src.RelPermalink }}{{ if $.versions }}{{ range $version := $versions }}, {{ ($img.Resize (printf "%s" ($scratch.Get (printf "resize%sx" $version)))).RelPermalink }} {{ printf "%sx" $version }}{{ end }}{{ end }}"{{ if $.lazy }} loading="lazy"{{ end }}{{ if $autowh }} width="{{ $src.Width }}" height="{{ $src.Height }}"{{ end }}>
    {{- end }}
    </picture>
{{- else }}
    {{- errorf "Could not load image %s" .img }}
{{- end }}